<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" >
  <extensions>
    <add assembly="Wipcore.Enova.Api.WebApi"/>
  </extensions>
  <variable name="logDirectory" value="D:/LogFiles/API"/>
  <targets>
    <target name="asyncfile" xsi:type="AsyncWrapper" overflowAction="Grow">
      <target name="file" xsi:type="File" fileName="${logDirectory}/API.txt"
        layout="${time:universalTime=True}&#009;${level}&#009;${threadid}&#009;${message}"
        archiveFileName="${logDirectory}/archives/API_{#}.txt"
        archiveAboveSize="102402402"
        archiveNumbering="Rolling"
        keepFileOpen="true"
        maxArchiveFiles="4"
        archiveEvery="Day"
        concurrentWrites="false" />
    </target>
    <target name="debugger" xsi:type="Debugger" layout="${time} [${threadid}] ${level:uppercase=true} | ${message}" />
    <target name="array" xsi:type="Array"  layout="${time} ${level:uppercase=true} ${threadname} | ${message}" />
    <target name="blackhole" xsi:type="Null"/> <!-- where logs go to die !-->
  </targets>
  <rules>
    <!--Fatal, Error, Warn, Info, Debug, Trace, Off-->
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="Microsoft.*" minlevel="trace" writeTo="blackhole" final="true"  />
    <logger name="*" minlevel="Trace" writeTo="asyncfile" />
    <logger name="*" minlevel="debug" writeTo="array" />
    <!--Trace-->
  </rules>
</nlog>