<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false" >
  <extensions>
  </extensions>
  <variable name="logDirectory" value="D:/LogFiles/API"/>
  <targets>
    <target name="file" xsi:type="AsyncWrapper" overflowAction="Grow">
      <target xsi:type="File" fileName="${logDirectory}/API.txt"
        layout="${time:universalTime=True}&#009;${level}&#009;${threadid}&#009;${message}"
        archiveFileName="${logDirectory}/archives/API_{#}.txt"
        archiveAboveSize="102402402"
        archiveNumbering="Rolling"
        keepFileOpen="true"
        maxArchiveFiles="4"
        archiveEvery="Day"
        concurrentWrites="false" />
    </target>
    <target name="debugger" xsi:type="Debugger" layout="${time} [${threadid}] ${level:uppercase=true} | ${message}" />
  </targets>
  <rules>
    <!--Fatal, Error, Warn, Info, Debug, Trace, Off-->
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!--Trace-->
  </rules>
</nlog>